# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
*.zip
dist/
build/
releases

# Temporary files
*.tmp
*.temp
.cache/
